# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen### Java template
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

/lib/
/com/janhen/leetcode/solutions/leetcode/
/src/main/java/com/janhen/design/lru/genericity/
/src/main/java/com/janhen/structures/bst/withParentNode/
/src/main/java/com/janhen/structures/bst/orderTree/
/src/main/java/com/janhen/structures/bst/baseV/
/src/main/java/com/janhen/structures/hashtable/other/
/src/main/java/com/janhen/structures/heap_priorityQueue/other/
/src/main/java/com/janhen/structures/loopArrQueue/other/
/src/main/java/com/janhen/structures/trie/other/
/src/main/java/com/janhen/structures/avl/other/
target